---
# Homepage configuration
# See https://fontawesome.com/search for icons options

# Optional message
message:
  #url: https://b4bz.io
  style: "is-dark" # See https://bulma.io/documentation/components/message/#colors for styling options.
  title: "Demo !"
  icon: "fa fa-grin"
  content: "This is a dummy homepage demo. <br /> Find more information on <a href='https://github.com/sstallion/spark-home'>github.com/sstallion/spark-home</a>"

# Services
# First level array represent a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: "Applications"
    icon: "fas fa-cloud"
    items:
      - name: "Get started"
        icon: "fa-solid fa-download"
        subtitle: "Start using Spark Home in a few minutes"
        tag: "setup"
        url: "https://github.com/sstallion/spark-home?tab=readme-ov-file#get-started"
      - name: "Configuration"
        icon: "fa-solid fa-sliders"
        subtitle: "Configuration options documentation"
        tag: "setup"
        url: "https://github.com/sstallion/spark-home/blob/main/docs/configuration.md"
      - name: "Smart cards"
        icon: "fa-solid fa-palette"
        subtitle: "Displays dynamic information or actions."
        tag: "setup"
        url: "https://github.com/sstallion/spark-home/blob/main/docs/customservices.md"
